{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container" style=" background-color: {{color}};">
        <h1>{{cupcake.name}}</h1>
         <img style="width:40%" src="{{ cupcake.url ?? 'http://images.innoveduc.fr/php_parcours/cp2/donut.png' }}" alt="accessory">
       <p>Colors: {{cupcake.color1}} {{cupcake.color2}} {{cupcake.color3}}</p>
       <p>Average color: {{color}}</p>
        <p>Created_at:  {{cupcake.created_at}}</p>
    </div>
{% endblock %}

